<ul class="list-inline">
  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
  <li><%= link_to 'Log In', new_user_session_path %></li>
  <li><%= link_to 'About', '#' %></li>
  <li><%= link_to 'Help', '#' %></li>
  <li><%= link_to 'Github', 'https://github.com/edwincarbajal/socialnetwork' %></li>
</ul>
<p class="text-muted">Sharebit <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2017</p>
<p class="text-center">
  Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="http://edwincarbajal.com" target="_blank">Edwin</a>.
</p>
