<%= provide(:title, 'Log In or Sign Up') %>
<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'sharebit', root_url, class: 'navbar-brand' %>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'navbar-form navbar-right form-inline' }) do |f| %>
        <div class="form-group">
          <%#= f.label :email %>
          <div>Email</div>
          <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: 'email@example.com' %>
        </div>
        <div class="form-group">
          <%#= f.label :password %>
          <div>Password</div>
          <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: 'password' %>
          <div>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%>
          </div>
        </div>
        <%= f.submit 'Log in', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-7 text-center">
      <h1><strong>Connect with friends and the<br>world around you on Sharebit.</strong></h1>
      <p class="lead">Sharebit is social networking app written using<br> React and Ruby on Rails.You can checkout how it was developed<br> and also the source code on <a href="https://github.com/edwincarbajal/socialnetwork">Github</a>.</p>
      <p>
        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Star it</button>
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Fork it</button>
      </p>
    </div>

    <div class="col-md-5">
      <h1><strong>Sign Up</strong></h1>
      <p class="small">It's free and always will be.</p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <% if resource.errors.any? %>
          <div class="alert alert-danger alert-dismissable">
            <%= resource.errors.full_messages.first %>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          </div>
        <% end %>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-8">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control', autofocus: true, placeholder: 'Full name' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-8">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control', placeholder: 'email@example.com' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-8">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br>
              <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: 'password' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-8">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: 'password confirmation' %>
            </div>
          </div>
        </div>
        <div class="actions">
          <%= f.submit 'Sign up', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Log In', new_user_session_path %></li>
        <li><%= link_to 'About', '#' %></li>
        <li><%= link_to 'Help', '#' %></li>
        <li><%= link_to 'Github', 'https://github.com/edwincarbajal/socialnetwork' %></li>
      </ul>
      <p class="text-muted">Sharebit <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2017</p>
      <p class="text-center">
        Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="http://edwincarbajal.com" target="_blank">Edwin</a>.
      </p>
    </div>
  </div>
</div>
